body{
    background: darkslategrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

}

#container{
    width: 200px;
    padding: 8px 8px 20x 8px;
    margin: 20px auto;
    background-color: #ABABAB;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-top: 2px solid white;
    border-right: 2px solid #FFF;
    border-bottom: 2px solid #C1C1C1;
    border-left: 2px solid #C1C1C1;
    box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.6), inset -100px 0px 100px rgba(255, 255, 255, 0.5);
}
#display{
    display: block;
    margin: 15px auto;
    height: 42px;
    width: 174px;
    padding: 0 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-top: 2px solid #C1C1C1;
    border-right: 2px solid #C1C1C1;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    font-size: 28px;
    color: #666;
    text-align: right;
    font-weight: 400;
    box-shadow: inset 0px 0px 10px #030303, inset 0px -20px 1px rgba(150, 150, 150, 0.1);
}

.button{
    display: inline-block;
    margin: 2px;
    width: 42px;
    height: 42px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.mathButtons{
    margin: 2px 2px 6px 2px;
    color: #fff;
    text-shadow: -1px -1px 0px #44006F;
    background-color: #434343;
    border-top: 2px solid #C1C1C1;
    border-bottom: 2px solid #181818;
    border-right: 2px solid #C1C1C1;
    border-left: 2px  solid #181818;
    box-shadow: 0 0 2px #030303, inset 0 -20px 1px #2e2e2e;
}